@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&family=Raleway&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Raleway", "sans-serif";
}

.image-container {
  width: 100%;
  max-width: 150px;
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.markdown {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.markdown p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.markdown h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.markdown ul {
  padding-top: 1rem;
}

.markdown ul li {
  padding-top: 1rem;
  display: list-item;
  text-align: -webkit-match-parent;
}

.markdown code {
  display: block;
  white-space: pre-wrap;
  
}